<div class="container no-gutters">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 85%;">
                <h5 class="card-header">Your Cart</h5>
                <div class="card-body">
                    <ng-container *ngIf=" IsItemAvailable; else nocart;">
                        <ng-container *ngFor="let items of CartItems">
                            <div class="card" style="margin-bottom: 5px;">
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div style="display: flex;">
                                                <div>
                                                    <div>
                                                        <img [src]=items.productImagePath
                                                            alt="" style="height: 150px; width: 150px;"><br>
                                                    </div>
                                                    <div style="display: flex;margin-top: 8px;">
                                                        <button type="button"
                                                            class="btn btn-secondary btn-sm  text-center"
                                                            style="margin-right: 3px;height: 31px;width: 32px;"
                                                            (click)="DecreaseCartItems(items.productGuid)" [disabled]="items.productQuantity == 1">-</button>
                                                        <input type="text" [value]=items.productQuantity
                                                            class="form-control text-center"
                                                            style="width: 30%;height: 31px;" disabled>
                                                        <button type="button"
                                                            class="btn btn-secondary btn-sm text-center"
                                                            style="margin-left: 3px;height: 31px;width: 32px;"
                                                            (click)="IncreeseCartItems(items.productGuid)" [disabled]="items.productQuantity == 10">+</button>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <h6>Product Name : {{items.productName}}</h6>
                                                    <h6>Product Price : {{items.productPrice}}</h6>
                                                    <button type="button" class="btn btn-primary"
                                                        style="background-color: #eb3d3d; color: white;border: none; outline: none;" (click)="RemoveFromCart(items.productGuid)">Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-template #nocart>
                        <h6>NO CART ITEMS AVAILABLE</h6>
                    </ng-template>
                </div>
                
                    <a routerLink="/PlacedOrder" *ngIf="IsItemAvailable" class="btn card-footer"
                    style="background-color :#5fc94f;color: white;">Place Order</a>
            </div>
        </div>
        <div class="col-4 fixed-top" style="top: 81px;left: 70%;">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Price Details</h5>
                        <hr>
                        <h6> Price ( {{ItemProductQuantity}} Item) - {{TotalPrice}}</h6>
                        <hr>
                        <h6 class="card-title">Total : {{TotalPrice}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>