<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container-fluid">
      <div>
        <ul class="" style="text-decoration: none;">
          <li class="nav-item dropdown">
            <a class="navbar-brand" routerLink="" data-bs-toggle="dropdown">EShop</a>
            <ul class="dropdown-menu dropdown-menu-end fade-down">
              <li><a class="dropdown-item" routerLink="ManageProduct"> Manage Product</a></li>
              <li>
                <p class="dropdown-item" style="cursor: pointer;" (click)="logout()"
                  *ngIf="Isloggedout(); else loginLink"><span style="position: relative;top: 6px;">
                    <mat-icon>logout</mat-icon>
                  </span> LogOut</p>
              </li>
              <ng-template #loginLink>
                <li><a routerLink="/Login" class="dropdown-item" style="cursor: pointer;"
                    (click)="logout()"><span style="position: relative;top: 6px;">
                      <mat-icon>login</mat-icon>
                    </span> LogIn</a></li>
              </ng-template>
            </ul>
          </li>
        </ul>
      </div>
      
      <div>
        <a class="navbar-brand" href="#">Fixed top</a>
        <a class="navbar-brand" routerLink="cart" style="position: relative;top: 10px;left: -8px;">
          <mat-icon matBadgeColor="accent" style="color: burlywood;font-size: 28px;">
            shopping_cart</mat-icon>
        </a>
        <a routerLink="User/UserProfile" class="text-center" mat-mini-fab
          aria-label="Example icon button with a filter list icon"
          style="border-radius: 100%;background-color: darkgray; color: white;box-shadow: none;">
          <h6>RB</h6>
        </a>
      </div>
    </div>
  </nav>
  
  <div style="margin-top: 6%;">
    <router-outlet></router-outlet>
  </div>